{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="{%static 'assets/bootstrap/css/bootstrap1.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="{%static 'assets/fonts/fontawesome5-overrides.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Acme">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
        <!--MDbootstrap CSS CDN-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/css/mdb.min.css" rel="stylesheet">

        <!-- FontAwesome CSS CDN -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>

<body id="page-top"><a class="menu-toggle rounded" href="#"><i class="fa fa-bars"></i></a>
    <nav class="navbar navbar-light navbar-expand" id="sidebar-wrapper">
        <div class="container"><button data-toggle="collapse" class="navbar-toggler d-none" data-target="#"></button>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav sidebar-nav" id="sidebar-nav">
                    <li class="nav-item sidebar-brand" role="presentation"><a class="nav-link active js-scroll-trigger" href="#page-top">Researchera</a></li>
                    <li class="nav-item sidebar-nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="/home/">Home</a></li>
                    <li class="nav-item sidebar-nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                    <li class="nav-item sidebar-nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#services">Services</a></li>
                    <li class="nav-item sidebar-nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a></li>
                    <li class="nav-item sidebar-nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="d-flex masthead" style="background-image:url('{%static 'assets/img/portfolio-2.jpg' %}');">
        <div class="container my-auto text-center" style="padding-bottom: 0px;">
            <h1 class="text-center mb-1" style="color:aliceblue;font-family: 'Source Sans Pro', sans-serif;">&nbsp; ML ZONE<i class="fa fa-magic wobble animated"></i></h1>
            <h1 class="text-center" style="color: aliceblue;"><i class="fas fa-flask jello animated infinite"></i></h1>
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Drag and Drop your xls or csv file here!</h5>
                  <h1 class="text-center"><i class="fas fa-upload"></i></h1>
                  <form enctype="multipart/form-data" method="POST" >{% csrf_token %}
                <input type="file" name="file" id= "upload"  style="padding: 40px;margin-top:-100px;padding-top:10%">
                <input type="text" id="pro_id" name="proj_id" hidden> 
        </form>
        <progress></progress>
                </div>
              </div>
        </div>
    </header>
    <section class = 'tbd'>
            <div class="card">
                    <span class="badge cyan card-title"><i class="fas fa-info-circle fa-2x"></i><h4>Data Information</h4></span>
                    <div class="card-body datainfo">
                            <div class="datacol">
                                    <span class="badge badge-pill badge-warning"><h6>No. of Columns : </h6></span>
                                </div>
                                <div class="datarow">
                                        <span class="badge badge-pill badge-warning"><h6>No. of Rows : </h6></span>
                                </div>
                                <div class="datacolumns">
                                        <span class="badge badge-pill badge-warning"><h6>Columns : </h6></span>
                                </div>
            </div>
            </div>
            <div class="card">
                    <span class="badge cyan card-title"><i class="fas fa-cog fa-2x" aria-hidden="true"></i><h4>Data Head</h4></span>
                    <div class="card-body datahead table-responsive">

            </div>
            </div>
            <div class="card">
                    <span class="badge cyan card-title"><i class="fas fa-drafting-compass fa-2x"></i><h4>Graph Plots (Beta Mode)</h4></span>
                    <div class="card-body dataselect">
                        <form method="POST" id="post-form">
                                    {% csrf_token %}
                        <div class="row">
                            <div class="col text-center">
                            <select class="select-1">
                                    <option selected>Open this select menu</option>
                                  </select>
                                </div>
                                <div class="col text-center">
                                    <h5>Against</h5>
                                </div>
                                <div class="col text-center">
                                        <select class="select-2">
                                                <option selected>Open this select menu</option>
                                                
                                              </select>
                                            </div>
                        </div>
                        </form>
                        <div class="row">
                                <div class="col text-center">
                                    </div>
                                    <div class="col text-center">
                                            <button class="btn blue-gradient" id="plot">Plot</button>
                                    </div>
                                    <div class="col text-center">
                                                </div>
                            </div>
            </div>
            </div>
            <div class="card gr">
                    <span class="badge cyan card-title"><i class="fas fa-cog fa-2x" aria-hidden="true"></i><h4>Graph Plots</h4><h5>This feature is in Beta Mode</h5></span>
                    <div class="card-body graphplot">
                            <img src="" class="img-fluid igraph" alt="Responsive image">

            </div>
            </div>
            <div class="card">
                    <span class="badge cyan card-title"><i class="fas fa-cog fa-2x" aria-hidden="true"></i><h4>Target column</h4></span>
                    <div class="card-body">
                    <div class="row">
                                <div class="col text-center">
                                    </div>
                                    <div class="col text-center">
                                            <select class="select-3">
                                                <option selected>Open this select menu</option>
                                            </select>
                                    </div>
                                    <div class="col text-center">
                                                </div>
                            </div>
            <div class="row">
                                <div class="col text-center">
                                    </div>
                                    <div class="col text-center">
                                            <button id="clean" class="btn purple-gradient">Auto-Clean Data</button>
                                    </div>
                                    <div class="col text-center">
                                                </div>
                            </div>

            </div>
            </div>
            
    </section>
    <section class="model">
        <div class="card text-center">
            <div class="card-body">
                The data has been cleaned! and saved in your project data.<br>You can now proceed to train..
            </div>
            <a id="clean_download" href="" class="btn btn-primary btn-sm" target="_blank">Download</a>
        </div>
        <div class="row">
                                <div class="col text-center">
                                    </div>
                                    <div class="col text-center">
                                            <button id="train_btn" class="btn peach-gradient">Train</button>
                                    </div>
                                    <div class="col text-center">
                                                </div>
                            </div>
    </section>
    <section class="gr_cl">
    <div class="card">
                    <span class="badge cyan card-title"><i class="fas fa-drafting-compass fa-2x"></i><h4>Graph Plots (Beta Mode)</h4></span>
                    <div class="card-body dataselect">
                        <form method="POST" id="post-form">
                                    {% csrf_token %}
                        <div class="row">
                            <div class="col text-center">
                            <select class="select-4">
                                    <option selected>Open this select menu</option>
                                  </select>
                                </div>
                                <div class="col text-center">
                                    <h5>Against</h5>
                                </div>
                                <div class="col text-center">
                                        <select class="select-5">
                                                <option selected>Open this select menu</option>
                                                
                                              </select>
                                            </div>
                        </div>
                        </form>
                        <div class="row">
                                <div class="col text-center">
                                    </div>
                                    <div class="col text-center">
                                            <button class="btn blue-gradient" id="plot1">Plot</button>
                                    </div>
                                    <div class="col text-center">
                                                </div>
                            </div>
            </div>
            </div>
            <div class="card gr_cl_gr">
                    <span class="badge cyan card-title"><i class="fas fa-cog fa-2x" aria-hidden="true"></i><h4>Graph Plots</h4><h5>This feature is in Beta Mode</h5></span>
                    <div class="card-body graphplot">
                            <img src="" class="img-fluid igraph1" alt="Responsive image">
            </div>
            </div>
            </section>
    <footer class="footer text-center">
        <div class="container">
            <p class="text-muted mb-0 small">Copyright &nbsp;© Researchera 2019</p>
        </div><a class="js-scroll-trigger scroll-to-top rounded" href="#page-top"><i class="fa fa-angle-up"></i></a></footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="{%static 'assets/js/stylish-portfolio.js' %}"></script>
    <script src="{%static 'assets/js/bs-animation.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.14.1/css/mdb.min.css" rel="stylesheet">

    <!-- JQuery -->
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.14.1/js/mdb.min.js"></script>

    <script>
        $('.tbd').hide();
        $('.model').hide();
        $('.gr_cl').hide();
        $('.gr_cl_gr').hide();
        $("#upload").on('change',function(event) { // bCheck is a input type button
            var fileName = event.target.files[0].name;
            console.log(fileName);
            localStorage.setItem("filename",fileName);
            $('#pro_id').val(localStorage.getItem("proj_id"));
            if(fileName) { // returns true if the string is not empty
                $.ajax({
                    // Your server script to process the upload
                    url: '',
                    type: 'POST',
                
                    // Form data
                    data: new FormData($('form')[0]) ,
                
                    // Tell jQuery not to process data or worry about content-type
                    // You *must* include these options!
                    cache: false,
                    contentType: false,
                    processData: false,
                    
                    // Custom XMLHttpRequest
                    xhr: function () {
                      var myXhr = $.ajaxSettings.xhr();
                      if (myXhr.upload) {
                        // For handling the progress of the upload
                        myXhr.upload.addEventListener('progress', function (e) {
                          if (e.lengthComputable) {
                            $('progress').attr({
                              value: e.loaded,
                              max: e.total,
                            });
                          }
                        }, false);
                      }
                      return myXhr;
                    },
                    success:function(data){
                        $('.datacol').append(data["col"])
                        $('.datarow').append(data['row'])
                        $('.datacolumns').append(data["columns"])
                        $('.tbd').show();
                        $('.gr').hide()
                        $('html,body').animate(
                        {
                        scrollTop: $(".tbd").offset().top
                        },
                        'slow');
                        $(".datahead").append(data['snapshot'])
                        $("table").addClass("table table-responsive")
                        $("table").css("overflow","scroll")
                        $("table").removeClass("dataframe")
                        $("table").prop("border",0)
                        $("thead").addClass("black white-text")
                        $("tr").css("text-align","center")
                        arrayList = JSON.parse(data["columns"])
                        for (var i = 0; i < arrayList.length; i++) {
                            $('.select-1').append('<option value="' + arrayList[i] + '">' + arrayList[i] + '</option>');
                            $('.select-2').append('<option value="' + arrayList[i] + '">' + arrayList[i] + '</option>');
                            $('.select-3').append('<option value="' + arrayList[i] + '">' + arrayList[i] + '</option>');
                        }          
                    }
                  });
                  $('#upload').prop("disabled",true)
            } else { // no file was selected
                alert("no file selected");
            }
            
        });
        $("#plot").on("click",function(){
            $.ajax({
                type:'POST',
                url:'',
                data:{
                    col1:$( ".select-1 option:selected" ).text(),
                    col2:$( ".select-2 option:selected" ).text(),
                    csrfmiddlewaretoken:$('#post-form input[name=csrfmiddlewaretoken]').val(),
                    action: 'post'
                },
                success:function(data){
                    $(".gr").show()
                    $(".igraph").prop("src",data["url"])
                },
                error : function(xhr,errmsg,err) {
                 // provide a bit more info about the error to the console
            }
            });
        });
        $("#clean").on("click",function(){
            var filename = localStorage.getItem("filename");
            $.ajax({
                type:'POST',
                url:'',
                data:{
                    action:"clean",
                    target:$( ".select-3 option:selected" ).text(),
                    filename: filename,
                    csrfmiddlewaretoken:$('#post-form input[name=csrfmiddlewaretoken]').val()
                },
                success:function(data){
                    $(".model").show()
                    $('.gr_cl').show()
                    $("#clean_download").attr("href",data["clean_url"])
                    alert(data["result"])
                    arrayList = JSON.parse(data["columns"])
                        for (var i = 0; i < arrayList.length; i++) {
                            $('.select-4').append('<option value="' + arrayList[i] + '">' + arrayList[i] + '</option>');
                            $('.select-5').append('<option value="' + arrayList[i] + '">' + arrayList[i] + '</option>');
                        }
                }
            });
        });
        $("#train_btn").on("click",function(){
            var filelink = $("#clean_download").attr("href");
            $.ajax({
                type:'POST',
                url:'',
                data:{
                    action:"train",
                    clean_file_link:filelink,
                    csrfmiddlewaretoken:$('#post-form input[name=csrfmiddlewaretoken]').val()
                },
                success:function(data){

                    var columns = JSON.parse(data["columns"])
                    var val_acc = data["val_acc"]
                    var train_acc = data["train_acc"]
                    var model_used = data["model_used"]
                    var url_dict = data["url_dict"]


                    alert("Success!!"+"\n"+"train_acc:"+train_acc+"val_acc"+val_acc+"model_used"+model_used);
                    $(".model").append(`<div class="card">
                    <span class="badge cyan card-title"><i class="fas fa-cog fa-2x" aria-hidden="true"></i><h4>Summary of Training</h4></span>
                        <div class="card-body">
                        <br><div class="row" ><div class="col-sm-3"></div><div class="col-sm-6 table-responsive" style="text-align:center;"><table id="tablePreview" class="table table-striped table-hover table-borderless"><thead><tr><th>#</th><th>Model Used</th><th>Training<br>Accuracy</th><th>Validation<br>Accuracy</th></tr></thead><tbody><tr><th scope="row">1</th><td>${model_used}</td><td>${train_acc}</td><td>${val_acc}</td></tr></tbody></table></div><div class="col-sm-3"></div></div><br>
                        </div>`)
                    var i;
                    $(".model").append(`<div class="card">
                    <span class="badge cyan card-title"><i class="fas fa-cog fa-2x" aria-hidden="true"></i><h4>Predictions</h4><h5>Enter the value to get value of Target Variable</h5></span>
                        <div class="card-body preds">
                        </div>
                    </div>`)
                    var s = 0;
                    for(i=0;i< data["col"];i++){
                        if(i%4==0 || i==0){
                            s = s+1;
                            $(".preds").append(`<div class="row" id="r${s}"></div>`);
                        }
                        $(`#r${s}`).append(`<div class="col-sm-3">
                                            <div class="card card-cascade narrower">

                                                <div class="view view-cascade overlay">
                                                <img class="card-img-top" src="${url_dict[columns[i]]}" alt="Card image cap">
                                                <a href="#!">
                                                <div class="mask rgba-white-slight"></div>
                                                </a>
                                            </div>

                                            <!-- Card content -->
                                            <div class="card-body card-body-cascade text-center pb-0">

                                                <!-- Title -->
                                                <h4 class="card-title"><strong>${columns[i]}</strong></h4>
                                                <!-- Subtitle -->
                                                <h5 class="blue-text pb-2"><strong>Graffiti Artist</strong></h5>
                                                <!-- Text -->
                                                <p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque
                                                laudantium, totam rem aperiam. </p>
                                                <input name='cols' type='number' placeholder="${columns[i]}">

                                            </div>
                                            </div>
                                            </div>`);
                        
                    }
                    $(".preds").append("<button type='button' class='btn btn-light-green' onclick='predict()'>Predict</button>");
                }
            });
        });
        function predict(){
            console.log("Innn");
            var types = [];
            $("input[name='cols']").each(function() {
                types.push($(this).val());
            });
            console.log(types);
            $.ajax({
                type:'POST',
                url:'',
                data:{
                    action:"predict",
                    'col_input[]':types,
                    csrfmiddlewaretoken:$('#post-form input[name=csrfmiddlewaretoken]').val()
                },
                success:function(data){
                    alert("I'm back with prediction"+data['prediction'])
                }
            })
        }
        $("#plot1").on("click",function(){
            $.ajax({
                type:'POST',
                url:'',
                data:{
                    col3:$( ".select-4 option:selected" ).text(),
                    col4:$( ".select-5 option:selected" ).text(),
                    csrfmiddlewaretoken:$('#post-form input[name=csrfmiddlewaretoken]').val(),
                    action: 'post'
                },
                success:function(data){
                    $(".gr_cl_gr").show()
                    $(".igraph1").prop("src",data["url"])
                },
                error : function(xhr,errmsg,err) {
                 // provide a bit more info about the error to the console
            }
            });
        });
    </script>
</body>
</html>